.dessert-selection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 16px;
}

.dessert-item img {
  width: 160px !important;
  height: 160px !important;
  object-fit: cover;
  border-radius: 12px;
}
